<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable
        name="base"
        value="${longdate} [${uppercase:${level}}] ${message}" />

    <targets>
        <target name="console" xsi:type="Console" layout="${base}" />
        <target name="infoFile" xsi:type="File" encoding="utf-8"
            fileName="${basedir}/logs/info.log" 
            archiveNumbering="Date" 
            archiveFileName="${basedir}/logs/archive/{#}-info.log" 
            archiveEvery="Day" archiveDateFormat="yyyyMMdd" 
            maxArchiveFiles="7"
            layout="${base}" />
        <target name="errorFile" xsi:type="File" encoding="utf-8"
            fileName="${basedir}/logs/error.log" 
            archiveNumbering="Date" 
            archiveFileName="${basedir}/logs/archive/{#}-error.log" 
            archiveEvery="Day" archiveDateFormat="yyyyMMdd" 
            maxArchiveFiles="7"
            layout="${base}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console, infoFile" />
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
    </rules>
</nlog>